# 指定格式化样式，可以根据个人偏好选择不同的样式
BasedOnStyle: LLVM

# 缩进风格
IndentWidth: 4
UseTab: Never
TabWidth: 4

# 空格
SpacesBeforeTrailingComments: 2
SpaceBeforeParens: Never

# 不允许短函数放在一行
AllowShortFunctionsOnASingleLine: false

# 一行最多120个字符
ColumnLimit: 120